[DEFAULT]


[oneview]

#
# From networking-oneview
#

# IP where OneView is available. (string value)
#oneview_host = <None>

# OneView username to be used. (string value)
#username = <None>

# OneView password to be used. (string value)
#password = <None>

# Option to allow insecure connection with OneView. (boolean value)
#allow_insecure_connections = false

# TLS File Path. (string value)
#tls_cacert_file = <None>

# UplinkSets to be used. (string value)
#uplinkset_mappings = <None>

# Flat Networks on Oneview that are managed by Neutron. (string value)
#flat_net_mappings = <None>

# Interval between periodic task executions in seconds. (integer value)
#ov_refresh_interval = 3600

# Only set this option as true if under developer mode. (boolean value)
#developer_mode = false
